.best-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 32px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-top: 10px;
}

.price {
    font-size: 1.3rem;
    font-weight: 700;
}

.original-price {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #999;
    margin: 0px 5px;
}

.discount {
    font-size: 0.8rem;
    font-weight: 400;
    color: #ff147b;
}

@media screen and (max-width: 992px) {
    .best-product-card {
        padding: 0px;
        height: auto;
    }
    .best-card-top {
        height: auto;
    }
}
